<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arrange.mini.mapper.CaseSeriesMapper">
  <resultMap id="BaseResultMap" type="com.arrange.mini.domain.CaseSeries">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="labels_id" jdbcType="VARCHAR" property="labelsId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="img_label" jdbcType="VARCHAR" property="imgLabel" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="two_imgs" jdbcType="VARCHAR" property="twoImgs" />
    <result column="three_imgs" jdbcType="VARCHAR" property="threeImgs" />
    <result column="top_roof" jdbcType="INTEGER" property="topRoof" />
    <result column="popularity" jdbcType="INTEGER" property="popularity" />
    <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type_id, labels_id, product_id, company_id, business_id, img_label, imgs, 
    two_imgs, three_imgs, top_roof, popularity, collection_num, status, version, created_by, 
    created_date, last_updated_by, last_updated_date
  </sql>

</mapper>